*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
tess/
build/
gradle/
OpenCV-android-sdk
gradlew
reference
koala
*.zip
*.bat
app/src/main/res/mipmap*
app/src/test
app/src/androidTest
